<h2><%= post.title %></h2>
<pre><%= post.body %></pre>
<hr />
<% unless comments.empty? %>
  <% comments.each do |comment| %>
    <p><%= comment.comment %><br />-<%= comment.name %></p>
    <hr />
  <% end %>
<% end %>
<%= erb :comment_form, :locals => { :post_id => post.id } %>

